* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-image: url(img/switch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header {
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 1;
}

.navbar {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#menu {
    width: 2%;
    display: none;
    cursor: pointer;
}

#menu img {
    width: 100%;
}

.logo {
    width: 20%;
    padding: 1%;
    margin-left: 0%;
}

.logo img {
    width: 45%;
}

#nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    text-align: center;
}

#nav a {
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 23px;
    padding: 5.7vh 1vh;
    margin-right: 10px;
    text-align: center;
}

#nav .border {
    background-color: black;
    width: 0vw;
    height: 2px;
    -webkit-transition: ease-out .2s;
    -o-transition: ease-out .2s;
    transition: ease-out .2s;
    visibility: hidden;
}

#nav a:hover .border {
    width: 100%;
    visibility: visible;
}








.search {
    width: 250px;
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 2%;
    justify-content: end;
}

.search-btn,
.close-btn {
    width: 45px;
    padding: 3%;
    border: none;
    background-color: white;
    cursor: pointer;
    position: absolute;
    transition: all 0.25s ease;
}

.close-btn {
    width: 40px;
    z-index: -1;
}

.search-btn img,
.close-btn img {
    width: 100%;
}

.search-box {
    width: 0px;
    padding: 8px;
    border-radius: 25px;
    transition: width 0.25s ease;
}

.active {
    width: 250px;
    justify-content: start;
}

.active .search-box {
    width: 220px;
    height: 45px;
    font-size: 18px;
}

.active .search-btn {
    transform: translate(175px) scale(0.8);
    background-color: transparent;
    padding: 2%;
}

.active .close-btn {
    z-index: 0;
    padding: 3%;
    transform: translate(220px);
    background-color: transparent;
}










.page1 {
    background-color: white;
    position: relative;
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 9%;
}



.home {
    width: 90%;
    overflow: hidden;
}

.slider {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: slide 16s infinite;
    animation: slide 16s infinite;
}

@-webkit-keyframes slide {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    15% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    20% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    40% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    45% {
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
    }

    65% {
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
    }

    70% {
        -webkit-transform: translateX(-300%);
        transform: translateX(-300%);
    }

    90% {
        -webkit-transform: translateX(-300%);
        transform: translateX(-300%);
    }

    95% {
        -webkit-transform: translateX(-400%);
        transform: translateX(-400%);
    }

    100% {
        -webkit-transform: translateX(-400%);
        transform: translateX(-400%);
    }
}

@keyframes slide {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    15% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    20% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    40% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    45% {
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
    }

    65% {
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
    }

    70% {
        -webkit-transform: translateX(-300%);
        transform: translateX(-300%);
    }

    90% {
        -webkit-transform: translateX(-300%);
        transform: translateX(-300%);
    }

    95% {
        -webkit-transform: translateX(-400%);
        transform: translateX(-400%);
    }

    100% {
        -webkit-transform: translateX(-400%);
        transform: translateX(-400%);
    }
}

.slider img {
    width: 100%;
}








.home-cont {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.home-cont h1 {
    font-weight: 900;
    line-height: 80%;
    color: white;
    font-size: 4vw;
}

.home-cont a {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 3% 6%;
    font-size: 1.2vw;
    border-radius: 30px;
    margin-top: 5%;
    font-weight: 600;
}

.home-cont a:hover {
    background-color: black;
    color: white;
    -webkit-transition: ease 0.4s;
    -o-transition: ease 0.4s;
    transition: ease 0.4s;
}

.home-cont a:not(:hover) {
    -webkit-transition: ease 0.4s;
    -o-transition: ease 0.4s;
    transition: ease 0.4s;
}


.acces {
    width: 100%;
    background-color: #eff1f1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.acces div {
    width: 24%;
    margin: 5% 2%;
    cursor: pointer;
}

.acces img {
    width: 20%;
    padding-bottom: 5%;
}

.acces div:hover img {
    -webkit-transform: rotatey(180deg);
    -ms-transform: rotatey(180deg);
    transform: rotatey(180deg);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.acces div:not(:hover) img {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.acces h5 {
    font-weight: 900;
}


.brand {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
}

.brand-img {
    width: 50%;
    padding: 10%;
}

.brand-img img {
    width: 100%;
    border-radius: 50px;
}

.brand-content {
    width: 50%;
    padding: 10%;
}

.brand-content h1 {
    padding-top: 5%;
    font-weight: 900;
}

.brand-content p {
    padding-top: 10%;
    font-size: 1.3vw;
}

.brand-content h5 {
    font-weight: 900;
    font-size: 1.5vw;
    padding-top: 10%;
}

.b-c-img {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.b-c-img img {
    width: 30%;
}

.brand-content a {
    text-decoration: none;
    color: white;
    font-weight: 900;
    background-color: #ed3237;
    padding: 4% 8%;
    border-radius: 30px;
}

.brand-content a:hover {
    background-color: black;
    -webkit-transition: ease .3s;
    -o-transition: ease .3s;
    transition: ease .3s;
}

.brand-content a:not(:hover) {
    -webkit-transition: ease .3s;
    -o-transition: ease .3s;
    transition: ease .3s;
}


.item-container {
    width: 100%;
    padding: 0% 5% 10% 5%;
    background-color: white;
    text-align: center;
}

.item-container>img {
    width: 25%;
    padding-bottom: 3%;
}

.item-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.item {
    width: 24%;
    border: 1px solid lightgray;
}

.item-img {
    border: 1px solid lightgray;
    padding-bottom: 20%;
}

.item-img img {
    width: 100%;
    padding: 20%;
    padding-left: 5%;
}

.item-cont {
    padding: 5% 0;
}

.item-cont h5 {
    margin-top: 3%;
}

.item-cont h5:last-child {
    font-weight: 900;
}


.vid {
    width: 100%;
    background-color: white;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.vid #video1 {
    width: 90%;
    border-radius: 20px;
}

.under600 {
    display: none;
}


.quality-main {
    width: 100%;
    padding: 5%;
    background-color: white;
}

.quality {
    background-color: bisque;
    width: 100%;
    padding: 3% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.qual {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-right: 1px solid black;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.qual:last-child {
    border: none;
}

.qual-img {
    width: 20%;
    margin: 5%;
}

.qual-img img {
    width: 100%;
}

.qual-cont h5:first-child {
    font-weight: 900;
}


.switch {
    width: 100%;
    padding: 10%;
    background-image: -webkit-gradient(linear, left top, right top, from(white), to(rgb(0, 0, 0, 0)));
    background-image: -o-linear-gradient(left, white, rgb(0, 0, 0, 0));
    background-image: linear-gradient(to right, white, rgb(0, 0, 0, 0));
}

.switch h3 {
    font-size: 3vw;
}

.switch h1 {
    font-size: 6vw;
    font-weight: 900;
}

.switch h5 {
    font-weight: 900;
    padding-bottom: 3%;
}

.switch a {
    text-decoration: none;
    color: white;
    font-weight: 900;
    background-color: #ed3237;
    padding: 1.5% 3%;
    border-radius: 30px;
}

.switch a:hover {
    background-color: black;
    -webkit-transition: ease .3s;
    -o-transition: ease .3s;
    transition: ease .3s;
}

.switch a:not(:hover) {
    -webkit-transition: ease .3s;
    -o-transition: ease .3s;
    transition: ease .3s;
}



.havells {
    width: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.havells-cont {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.havells-cont h1 {
    font-weight: 900;
    text-align: center;
    line-height: 90%;
}

.havells-cont img {
    width: 50%;
}

.havells-cont p {
    padding: 3% 10%;
}

.havells-cont a {
    text-decoration: none;
    color: white;
    font-weight: 900;
    background-color: #ed3237;
    padding: 2% 8%;
    border-radius: 30px;
    word-spacing: 2px;
}

.havells-cont a:hover {
    background-color: black;
    -webkit-transition: ease .3s;
    -o-transition: ease .3s;
    transition: ease .3s;
}

.havells-cont a:not(:hover) {
    -webkit-transition: ease .3s;
    -o-transition: ease .3s;
    transition: ease .3s;
}

.havells-img {
    width: 70%;
}

.havells-img img {
    width: 100%;
}

.footer {
    width: 100%;
    background-color: #202020;
}

.foot {
    width: 80%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.foot-1 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid grey;
    padding: 3%;
}

.foot-1 img {
    width: 12%;
}

.foot-2 {
    width: 100%;
    margin-top: 6%;
    margin-bottom: 6%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.box h3 {
    font-weight: 900;
    padding-bottom: 7%;
    color: white;
}

.box p {
    font-size: 1.3vw;
    line-height: 70%;
    color: white;
}

.foot #foot-address {
    line-height: 140%;
    padding-bottom: 10%;
}

.box a {
    font-size: 1.3vw;
    color: white;
    text-decoration: none;
    margin-top: 2%;
}

.box a:hover {
    color: #ed3237;
}

.box2 h3,
.box3 h3,
.box4 h3 {
    padding-bottom: 15%;
}

.box2,
.box3,
.box4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.foot-end {
    width: 100%;
    background-color: #1b1b1b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 2% 10%;
}

.foot-end h6 {
    color: white;
}










@media (max-width:1000px) {
    .page1 {
        padding-top: 15%;
    }

    .home-cont h1 {
        font-size: 5vw;
    }

    .logo {
        margin-left: 25%;
    }

    .logo img {
        width: 120px;
    }

    #nav .border {
        display: none;
    }

    #nav {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        background-color: #eff1f1;
        position: absolute;
        top: 0px;
        z-index: 1;
        text-align: left;
        padding-top: 8vh;
        display: none;
        left: -500px;
        pointer-events: none;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

    .active#nav {
        display: block;
        left: 0px;
        pointer-events: fill;
    }

    #nav ul {
        display: block;
    }

    #nav ul li {
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
    }

    #nav ul li:hover {
        background-color: #c6c6c66f;
        border-radius: 8px;
    }

    #nav ul li a {
        display: block;
        padding: 2vw 10vw;
    }

    #menu {
        display: block;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        height: auto;
        margin: 2%;
        border-radius: 4px;
        cursor: pointer;
        z-index: 2;
    }

    .line1,
    .line2,
    .line3 {
        width: 25px;
        height: 3px;
        margin: 5px;
        background-color: black;
        border-radius: 50px;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
    }

    .active .line1 {
        -webkit-transform: translate(0px, 8.5px)rotate(45deg);
        -ms-transform: translate(0px, 8.5px)rotate(45deg);
        transform: translate(0px, 8.5px)rotate(45deg);
    }

    .active .line2 {
        opacity: 0;
    }

    .active .line3 {
        -webkit-transform: translate(0px, -8.5px)rotate(-45deg);
        -ms-transform: translate(0px, -8.5px)rotate(-45deg);
        transform: translate(0px, -8.5px)rotate(-45deg);
    }

    .search {
        width: 220px;
    }

    .search-btn,
    .close-btn {
        width: 45px;
        padding: 4%;
    }

    .close-btn {
        width: 35px;
    }

    .active {
        width: 220px;
    }

    .active .search-box {
        width: 180px;
        height: 40px;
        font-size: 15px;
    }

    .active .search-btn {
        transform: translate(140px) scale(0.8);
        padding: 4%;
    }

    .active .close-btn {
        padding: 3.5%;
        transform: translate(180px);
    }

    .home-cont a {
        padding: 4% 8%;
        font-size: 1.5vw;
    }

    .brand-img {
        padding: 5%;
    }

    .brand-img img {
        border-radius: 30px;
    }

    .brand-content {
        padding: 5%;
    }

    .brand-content p {
        padding-top: 5%;
        font-size: 2vw;
    }

    .brand-content h5 {
        font-size: 2.5vw;
        padding-top: 5%;
    }

    .brand-content a {
        padding: 3% 6%;
        font-size: 1.5vw;
    }


    .item-container>img {
        width: 35%;
        padding-bottom: 5%;
    }

    .item-all {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .item {
        width: 40%;
        margin-bottom: 5%;
    }

    .item-img img {
        padding-left: 5%;
    }


    .quality {
        border-radius: 10px;
        padding: 3% 0;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .qual {
        width: 50%;
        border-right: none;
    }

    .qual-img {
        width: 15%;
    }


    .havells {
        display: block;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .havells-cont {
        width: 100%;
        padding-bottom: 5%;
    }

    .havells-cont h1 {
        font-size: 5vw;
    }

    .havells-cont img {
        width: 30%;
    }

    .havells-cont p {
        padding: 2% 10%;
        text-align: center;
        font-size: 2vw;
    }

    .havells-cont a {
        padding: 1% 4%;
        font-size: 2vw;
    }

    .havells-img {
        width: 100%;
    }


    .foot-1 {
        border-bottom: none;
    }

    .foot-1 img {
        width: 15%;
    }

    .foot-2 {
        margin-top: 3%;
        margin-bottom: 0%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .foot-2 .box {
        width: 50%;
        text-align: center;
    }

    .box {
        padding-bottom: 5%;
    }

    .box h3 {
        padding-bottom: 5%;
    }

    .box p {
        font-size: 1.7vw;
    }

    .foot #foot-address {
        padding-bottom: 7%;
    }

    .box a {
        font-size: 1.7vw;
        margin-top: 2%;
    }

    .box2 h3,
    .box3 h3,
    .box4 h3 {
        padding-bottom: 5%;
    }

    .foot-end {
        padding: 2%;
    }

}








@media (max-width:600px) {

    .page1 {
        padding-top: 20%;
    }

    .home-cont h1 {
        font-size: 6vw;
    }

    .logo {
        margin-left: 15%;
    }

    .logo img {
        width: 100px;
    }

    #nav ul li a {
        padding: 0.8vw 5vw;
    }

    .line1,
    .line2,
    .line3 {
        width: 23px;
        height: 3px;
        margin: 4px;
    }

    .active .line1 {
        -webkit-transform: translate(0px, 7.5px)rotate(45deg);
        -ms-transform: translate(0px, 7.5px)rotate(45deg);
        transform: translate(0px, 7.5px)rotate(45deg);
    }

    .active .line3 {
        -webkit-transform: translate(0px, -7.5px)rotate(-45deg);
        -ms-transform: translate(0px, -7.5px)rotate(-45deg);
        transform: translate(0px, -7.5px)rotate(-45deg);
    }

    .search {
        width: 150px;
    }

    .search-btn,
    .close-btn {
        width: 45px;
        padding: 7%;
    }

    .close-btn {
        width: 35px;
    }

    .search-box {
        width: 0px;
        padding: 0px;

    }

    .active {
        width: 150px;
    }

    .active .search-box {
        width: 120px;
        height: 30px;
        font-size: 12px;
        padding: 8px;
    }

    .active .search-btn {
        transform: translate(82px) scale(0.6);
    }

    .active .close-btn {
        transform: translate(115px) scale(0.7);
    }

    .home-cont a {
        padding: 5% 10%;
        font-size: 2vw;
    }

    .acces {
        display: block;
        padding: 5% 0;
    }

    .acces div {
        width: 100%;
        margin: 0;
        padding: 1% 15%;
        text-align: center;
    }

    .acces img {
        width: 15%;
        padding-bottom: 5%;
    }

    .acces h5 {
        font-size: 4vw;
    }

    .acces p {
        font-size: 3vw;
    }


    .brand {
        display: block;
        padding-bottom: 10%;
        padding-top: 5%;
    }

    .brand-img {
        width: 100%;
        padding: 5%;
        padding-bottom: 0;
    }

    .brand-img img {
        border-radius: 10px;
        height: 20vh;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .brand-content {
        width: 100%;
        text-align: center;
        padding: 5%;
        padding-top: 0;
    }

    .brand-content h1 {
        padding-top: 5%;
    }

    .brand-content p {
        padding: 5% 10%;
        font-size: 3vw;
    }

    .brand-content h5 {
        font-size: 5vw;
        padding-top: 0%;
    }

    .b-c-img {
        -ms-flex-pack: distribute;
        justify-content: space-around;
        padding-bottom: 10%;
    }

    .b-c-img img {
        width: 25%;
    }

    .brand-content a {
        padding: 3% 6%;
        font-size: 3vw;
    }


    .item-container>img {
        width: 40%;
        padding-bottom: 5%;
    }

    .item {
        width: 45%;
    }

    .item-cont {
        padding: 5%;
    }

    .item-img img {
        padding: 10%;
        padding-left: 0;
    }

    .item-cont h5 {
        margin-top: 3%;
        font-size: 3.5vw;
    }


    .vid {
        padding-bottom: 5%;
    }

    .over600 {
        display: none;
        -webkit-display: none;
    }

    .under600 {
        display: block;
    }

    .quality {
        display: block;
    }

    .qual {
        width: 100%;
        border-right: none;
        padding: 3%;
    }

    .qual h5 {
        font-size: 3.5vw;
    }

    .qual-img {
        width: 10%;
        margin-right: 10%;
    }


    .switch h1 {
        font-size: 7vw;
    }

    .switch h5 {
        font-size: 3vw;
    }

    .switch a {
        font-size: 3vw;
        padding: 1.5% 4%;
    }

    .havells {
        padding-top: 10%;
    }

    .havells-cont h1 {
        font-size: 7vw;
    }

    .havells-cont img {
        width: 40%;
    }

    .havells-cont p {
        font-size: 3vw;
    }

    .havells-cont a {
        padding: 2% 6%;
        font-size: 3vw;
    }

    .foot {
        width: 80%;
        margin: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .foot-1 {
        border-bottom: none;
        padding: 3%;
    }

    .foot-1 img {
        width: 20%;
    }

    .foot-2 {
        margin-top: 3%;
        margin-bottom: 6%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .box h3 {
        padding-bottom: 5%;
        padding-top: 10%;
    }

    .box p {
        font-size: 3.5vw;
    }

    .foot #foot-address {
        line-height: 140%;
        padding-bottom: 5%;
    }

    .box a {
        font-size: 3.5vw;
        margin-top: 0%;
    }

    .box2 h3,
    .box3 h3,
    .box4 h3 {
        padding-bottom: 5%;
    }

    .foot-end {
        display: block;
        padding: 2% 5%;
        text-align: center;
    }

    .foot-end h6 {
        font-size: 3vw;
    }

}








@media (max-width:400px) {

    .page1 {
        padding-top: 25%;
    }

    .logo {
        margin-left: 25%;
    }

    .logo img {
        width: 70px;
    }

    .search {
        width: 110px;
    }

    .search-btn,
    .close-btn {
        width: 35px;
        padding: 7%;
    }

    .close-btn {
        width: 35px;
    }

    .search-box {
        width: 0px;
        padding: 0px;

    }

    .active {
        width: 110px;
    }

    .active .search-box {
        width: 85px;
        height: 25px;
        font-size: 12px;
        padding: 8px;
    }

    .active .search-btn {
        transform: translate(55px) scale(0.5);
    }

    .active .close-btn {
        transform: translate(80px) scale(0.5);
    }

    #nav {
        padding-top: 6vh;
    }

    #nav ul li a {
        padding: 1.5vw 10vw;
    }

    #menu {
        margin: 1%;
    }

    .line1,
    .line2,
    .line3 {
        width: 20px;
        height: 2px;
        margin: 4px;
    }

    .active .line1 {
        -webkit-transform: translate(0px, 6.3px)rotate(45deg);
        -ms-transform: translate(0px, 6.3px)rotate(45deg);
        transform: translate(0px, 6.3px)rotate(45deg);
    }

    .active .line3 {
        -webkit-transform: translate(0px, -6.3px)rotate(-45deg);
        -ms-transform: translate(0px, -6.3px)rotate(-45deg);
        transform: translate(0px, -6.3px)rotate(-45deg);
    }
}






@media (max-width:300px) {

    .page1 {
        padding-top: 30%;
    }

    .logo {
        margin-left: 20%;
    }

    .logo img {
        width: 60px;
    }

    .search {
        width: 85px;
    }

    .search-btn,
    .close-btn {
        width: 30px;
        padding: 6%;
    }

    .active {
        width: 85px;
    }

    .active .search-box {
        width: 70px;
        height: 20px;
        font-size: 8px;
        padding: 5px;
    }

    .active .search-btn {
        transform: translate(43px) scale(0.45);
    }

    .active .close-btn {
        transform: translate(63px) scale(0.4);
    }
}